<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleewell.sleewell">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Do Not Disturb mode -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.NFC" /> <!-- Nfc detection -->
    <uses-permission android:name="android.permission.BLUETOOTH" />  <!-- Bluetooth accessibility -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Wifi accessibility -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.protocol.view.ProtocolActivity" android:launchMode="singleTask">
            <!-- Open the app on this specific activity when a NFC tag contain a mime type as described below -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.sleewell.sleewell" />
            </intent-filter>

            <!-- Open the app on this specific activity when a NFC tag contain a url with http://www.sleewell.fr -->
            <!-- <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"
                    android:host="www.sleewell.fr"
                    android:pathPrefix="/"/>
            </intent-filter> -->
        </activity>
        <activity
            android:name=".mvp.main.view.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.settings.view.SettingsActivity"
            android:label="Settings" />
        <activity android:name="com.example.prototype_database.DesactivationActivity"
            android:label="Desactivation"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".reveil.AlarmReceiver"/>
        <receiver android:name=".reveil.AlertReceiver"/>
        <receiver android:name=".reveil.GlobalReceiver"/>
    </application>

</manifest>